# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
ENV.bak/
env.bak/

# Environment variables
.env

# Log files
*.log

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

# macOS specific
.DS_Store

#Checkpoints
checkpoints/

#StyTR-2
StyTR-2/checkpoints/
StyTR-2/models/checkpoints/
StyTR-2/models/experiments/
